# Project environment files
conda/
*.sif
data/deliveries/*/
data/raw-data/*/
data/intermediates/*/
data/finalized/*/

# Common bioinformatic file formats
*.sam
*.bam
*.cram
*.fasta
*.fna
*.fa
*.fastq
*.fast5
*.gz
*.tar
*.bz2
*.gff
*.gtf
*.bed
*.vcf
*.bcf
*.csv
*.tsv
*.pdb
*.ped
*.map

# Nextflow files
.nextflow*
work/

# Quarto files
.quarto/
_site/
_book/
**/.gitignore

# misc
.DS_Store
