resume = true

params {
    // CSV file: Format: species_name,genome_fasta
    genomes_csv = null
    protein_db  = null
    min_genes   = 300
}

process {
    cpus     = 1
    memory   = 8.GB
    time     = 1.h
    withName: ALIGN_PROTEOME {
        cpus   = 6
        memory = 50.GB
        time   = 3.h
    }
}
