process {
    // resource limits are based on most nodes of the abc partition on nac:
    // 15    CfgTRES=cpu=16,mem=120G,billing=16
    //  3    CfgTRES=cpu=36,mem=375G,billing=36
    // MaxTime=30-00:00:00
    // Processes that require more resources need to explicitly overwrite it
    resourceLimits = [
        cpus:   16,
        memory: 120.GB, // Limit to 120 so most jobs go to 120G nodes rather than waiting for 3 375G nodes
        time:   30.d,
    ]
    executor     = 'slurm'
    scratch      = '/scratch'
}

singularity {
    enabled      = true
}
