// NBIS profiles 

profiles {
    // Uppmax: Rackham
    uppmax {
        includeConfig 'https://raw.githubusercontent.com/nf-core/configs/refs/heads/master/conf/uppmax.config'

    }

    // PDC-KTH: Dardel
    dardel {
        includeConfig 'https://raw.githubusercontent.com/nf-core/configs/refs/heads/master/conf/pdc_kth.config'
    }

    // NBIS: NAC
    nac {
        includeConfig 'nac.config'
    }
}
