// NBIS profiles 

profiles {
    // Uppmax: Rackham
    uppmax {
        includeConfig 'https://raw.githubusercontent.com/nf-core/configs/refs/heads/master/conf/uppmax.config'

    }

    // PDC-KTH: Dardel
    dardel {
        includeConfig 'https://raw.githubusercontent.com/nf-core/configs/refs/heads/master/conf/pdc_kth.config'
    }

    // NBIS: NAC
    nac {
        includeConfig 'nac.config'

        process {
            // resource limits are based on most nodes of the abc partition on nac:
            // 15    CfgTRES=cpu=16,mem=120G,billing=16
            //  3    CfgTRES=cpu=36,mem=375G,billing=36
            // MaxTime=30-00:00:00
            // Processes that require more resources need to explicitly overwrite it
            resourceLimits = [
                cpus:   16,
                memory: 120.GB, // Limit to 120 so most job 120G nodes rather than waiting for 3 375G nodes
                time:   30.d,
            ]
            executor     = 'slurm'
            scratch      = '/scratch'
        }

        singularity {
            enabled      = true
        }
    }

}
