// Configuration for Pelle

params {
    project = null
}

// https://docs.uppmax.uu.se/hardware/clusters/pelle/#pellemaja-hardware
process {
    resourceLimits = [
        cpus: 96,
        memory: 3.TB,
        time: 2.d,
    ]

    executor       = 'slurm'
    scratch        = '$SNIC_TMP'
    clusterOptions = { task.memory > 768.GB ? '--partition=fat' : '' }
}

singularity {
    enabled = true
    envWhitelist = 'SNIC_TMP'
    runOptions = '-B $SNIC_TMP'
}

executor {
    '$slurm' {
        account = params.project
    }
}
