profiles {
    // Override nac profile for EBP processes
    nac {
        includeConfig '../../envs/nextflow/nac.config'
        params {
            // NAC does not have enough memory to have the db in ram. (Slows FCSGX down a lot.)
            fcs.ramdisk_path = ''
        }
        process {
            // Increase resourceLimits to use highest memory nodes on NAC
            withName: 'FCSGX_RUNGX' {
                cpus       = 16
                memory     = 370.GB
                time       = 30.d
                resourceLimits = [
                    cpus: 16,
                    memory: 370.GB,
                    time: 30.d
                ]
            }
        }
    }
}

// Add custom module configuration here

// E.g Use Rackham high memory node for HIFIASM
// process {
//     withName: 'HIFIASM' {
//         cpus   = 20
//         memory = 1024.GB
//         time   = 5.d
//         clusterOptions = { "-A $params.project -C mem1TB" }
//     }
// }
