// Include NBIS profiles
includeConfig '../../envs/nextflow/nbis_profiles.config'

// Add custom module configuration here

// E.g Use high memory node for HIFIASM
// process {
//     withName: 'HIFIASM' {
//         cpus   = 20
//         memory = 1024.GB
//         time   = 5.d
//         clusterOptions = { "-A $params.project -C mem1TB" }
//     }
// }
